body
{
    background-color: #F0F0F0;
}
/*              Header                  */

.navbar {
    
    
    background-color: aliceblue;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-family:monospace;

}
.navbar-default{
    border: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:cornflowerblue;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;

    margin-right: 15px;
    background-color:transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
}


.navbar.transparent .navbar-inner li a {
        color:black;
        font-family:inherit;
        font-size: 11pt;
        letter-spacing: 2pt;

    
}

.navbar-fixed-top .navbar-collapse {
 max-height: 370px;
}


/*                  Home                    */

.row1
{
    line-height:1.8em;
    letter-spacing:0.05px;
    color:#646464;
    font-size:28pt;
    padding-top: 50px;
    text-align: center;
}

.raw2
{
    text-align: center;
    padding-top: 40px;
}

.raw3
{
    height: 250px;
    width: 100%;
    margin-bottom: -60px;
    background-color:lightgray;
}

.row4
{
    height: 330px;
    margin-top: 50px;
    padding: 0;
}

.lora
{
    
    width:170px;
    height:60px;
    margin-top:90px;
    background:#fff;
    color:cornflowerblue;
    letter-spacing:0.5px;
    font-size:22px;
    text-decoration: none;
}

h3
{
    color: black;
}

h4
{
    color: black;
}

.a{
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 50pt;
    text-decoration: inherit;
}


.p1{
    text-align: center;
    margin-top: 50px;
    font-size: 20pt;
    font-family: cursive;
}


.col
{
    margin-top: -20px;
}


.col2
{
    height: 500px;

}

.col99
{
    background-color:lightgrey;
    text-align: center;
    height: 550;
    padding: 15px 15px 10px 25px;
}

.col98
{
    background-color:lightgrey;
    text-align: center;
    height: 550;
    padding: 15px 15px 10px 15px;
}

.col97
{
    background-color:lightgrey;
    text-align: center;
    height: 550;
    padding: 15px 25px 10px 15px;
}

.p2
{
    text-align: justify;
    margin: 0 0.5 0 0.5;
}

.col4
{
    text-align: center;
}


.btn-warning
{
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 12pt;
}


.event
{
    text-align: center;
}

.col96
{
    background-color:darkgray;
    height: 620px;
    margin: 20px 10px 10px 110px;
}

.col95
{
    background-color:darkgray;
    height: 620px;
    margin: 20px 10px 10px 10px;
}


.ev
{
    text-align: justify;
    padding: 20px 5px 20px 5px;
    font-size: 12pt;
}

.rawm1
{
    margin-top: 60px;
}

.rawt1
{
    margin-top: 60px;
}

@media (min-width:970px)
{
    .col96
    {
        height: 620px; 
    }
}

/*                  Log In                  */
.login{
    margin-top: 120px;
    font-size: 12pt;
    text-align: center;
}
#cbox
{
    align-content: center;
}


/*                  Sign Up                 */

.form-horizontal
{
    margin-top: 30px;
}

/*                  News and Events                     */
.nw1{
    padding-top: 70px;
}

.ne1{
    text-align: center;
    font color: aqua;
    font-family: p.serif;
    font-family: "Arial Black, Gadget, sans-serif;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

/*              About Us                */
.cola
{
    margin-top: 50px;
}
.team-member
{
    text-align: center;
    margin-bottom: 50px;
}
.img
{
        margin: 0 auto;
        border: 7px solid white;
}
.h4
{
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
}
.p
{
        margin-top: 0;
}

/*                  Tutorials                   */

.tou1
{
    align-content: center;
}

.tuo1 ul
{
    padding: 0;
    margin: 0;
}

.tuo1 ul li
{
    display:inline-block;
    margin: 0 1em;
}

/*                  Footer                  */


.footer-center p
{
    display: inline-block;
    color:	#000000;
    vertical-align: middle;
    margin:0;
}

.footer-center p span
{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-center p a
{
    color:#000000;
    text-decoration: none;
}

.footer-center
{
    margin-top: 30px;
}

.ftr
{
    background-color: gray;
}

#footerWrapper
{
    margin-top: 70px;
}

.kau
{
    background-color:black;
}

/*                  Social-Buttons                  */
.social-buttons
{
    margin-bottom: 0;
}

.fa
{
    color: white;
    font-size: 23px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 39px;
    margin: 10px 15px;
    vertical-align: middle;
    background-color: #777;
     line-height: 35px!important;
}

.social-icons .fa
{
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}

.social-icons .fa-facebook
{
  background-color: #3C599F;
}


.social-icons .fa-linkedin
{
  background-color: #0085AE;
}


.social-icons .fa-twitter
{
  background-color: #32CCFE;
}

.social-icons .fa-google-plus {
  background-color: #CF3D2E;
}

